* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

body{
    font-family: "CeraPro", sans-serif;
    max-width: 1202px;
    /* margin: 0 auto;
    height: 100vh; */
  }

/* div_find_more */
.div_find_more{
    display: flex;
    margin-top: 69px;
    margin-left: 120px;
    margin-right: 120px;
    gap: 28px;
}

.information_about_flowers{
    display: flex;
    font-weight: 900;
    max-width: 586px;
    text-align: justify;
  }

  .img_summer_cactus{
   width: 287px;
   height: 292px;
  }

  .img_styling_trends{
   width: 289px;
   height: 287px;
  }

.inf{
    padding-top: 89px;
    padding-right: 35px;
    display: block;
    text-align: right;
}

.p_flowers{
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
}

 .p_online_plant_shop{
     font-weight: 400;
     width: 292px;
     font-size: 14px;
     line-height: 24px;
     color: #727272;
 } 

 .button{
     margin-top: 25px ;
     font-weight: 500;
     width: 140px;
     height: 40px;
     border-radius: 6px;
     background: #46A358;
     color: #FFFFFF;
 }

 /* div_blog_posts */
 .div_blog_posts{
    margin: 138px 119px 68px 119px;
 }

 .blog_posts{
    margin-top: 138px;
    margin-left: 496px;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color:#3D3D3D;
 }

 .online_plant_shop{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 322px;
    width: 557px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
 }

 .information{
    flex-direction: column;
 }

 .p_september{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:#46A358;
 }

 .p_text{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
 }

 .p_cacti{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
 }
   
 .read_more{
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color:#3D3D3D;
   text-decoration: none;
 }

 .div_inf{
    display: flex;
    gap: 42px;
 }