* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
body{
    font-family: "CeraPro", sans-serif;
  }

/* header */
header{
    display: flex;
    padding-top: 171px;
    padding-left: 105px;
    padding-right: 107px;
    justify-content: space-between;
}
.div_list_left{
   display: flex;
   gap: 37px;
}
.all_plants{
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #46A358;
    text-decoration: none;
}
 .all_plants:hover{
   text-decoration: underline; 
   text-decoration-thickness: 2px;
}
  .new_arrivals_sale{
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   color: #3D3D3D;
   text-decoration: none;
}
.new_arrivals_sale:hover{
   text-decoration: underline;
   text-decoration-thickness: 2px;
}
.div_list_right{
   justify-content: space-between;
}
.short_by{
   display: flex;
   gap: 8px;
   font-size: 15px;
   font-weight: 400;
   line-height: 16px;
   color: #3D3D3D;
}
.default{
   display: flex;
   text-decoration: none;
   color: #3D3D3D;
}

/* main */
main{
   padding: 31px 105px 101px 105px;
   display: flex;
}
.div__flower{
   display: block;
}
.images{
   justify-content: center;
   align-items: center;
   width: 258px;
   height: 300px;
   position: relative;
   gap: 33px;
}
.images:hover{
   border-top: 1px solid #46A358;
}
.discount{
    width: 80px;
    height: 29px;
    top: 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    background:#46A358;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}
.discount:hover{
   opacity: 1;
}
.btn{
   width: 125px;
   height: 35px;
   top: 238px;
   left: 67px;
   gap: 26px;
   position: absolute;
   background: rgba(0, 0, 0, 0. 6);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   opacity: 0;
   transition: 0.6s;
}
.btn:hover{
   opacity: 1;
}
.flower{
font-size: 16px;
font-weight: 400;
line-height: 16px;
color:#3D3D3D;
}
.price{
font-size: 18px;
font-weight: 700;
line-height: 16px;
color:#46A358;
}
.old_price{
   bottom: -97px;
   right: 190px;
   font-size: 18px;
   font-weight: 400;
   line-height: 16px;
   color: #A5A5A5;  
   position: absolute;
   opacity: 0;
   transition: 0.6s;
}
.old_price:hover{
   opacity: 1;
}